.copyright {
  display: flex;
  align-items: center;
  margin: 39px 0 20px 15px;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 13px;
}

.copyright__link {
  display: flex;
  width: 27px;
  height: 34px;
  font-size: 0;
}

.copyright__link:hover svg {
  fill: #81b3d2;
}

.copyright__link:active svg {
  fill: #bdbbbc;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    padding-right: 4px;
  }

  .copyright__text {
    margin-right: 12px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    margin-right: 13px;
  }

  .copyright {
    padding: 0;
  }

  .copyright__link--inner-page {
    height: 31px;
  }

  .copyright__link--form {
    height: 30px;
  }
}
