.copyright {
  margin: 20px 0;

  display: flex;
  align-items: center;
}

.copyright__text {
  margin-right: 20px;

  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}

.copyright__link {
  display: flex;
  width: 27px;
  height: 34px;

  font-size: 0;

  background: url("../img/logo-htmlacademy.svg") 0 0 no-repeat;
}