.button {
  display: block;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;

  span {
    opacity: 0.3;
  }
}

.button:disabled {
  background-color: #e5e5e5;
}

.search {
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 49px;
}

.search__intro {
  width: 261px;
  text-align: center;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.search__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 21px;
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.search__button {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: @mobile-width) {
  .search__text br {
    display: none;
  }
}

.find-hotel__map--gmap {
  width: 320px;
  height: 350px;
}

.find-hotel__map {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  width: 320px;
  height: 350px;
}

@media (min-width: @tablet-width) {
  .search {
    padding-top: 35px;
    padding-bottom: 58px;
  }

  .search__intro {
    width: 435px;
    margin-bottom: 41px;
    margin-top: 20px;
  }

  .search__title {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .search__button {
    width: 458px;
    height: 29px;
    padding-top: 14px;
    padding-bottom: 16px;
  }

  .find-hotel__map--gmap {
    width: 768px;
    height: 350px;
  }

  .find-hotel__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    width: 768px;
    height: 350px;
  }

  .search__text br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .search {
    padding-top: 38px;
    padding-bottom: 66px;
  }

  .search__intro {
    margin-top: 0;
    margin-bottom: 46px;
  }

  .find-hotel__map--gmap {
    width: 1200px;
    height: 350px;
  }

  .find-hotel__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    width: 1200px;
    height: 350px;
  }

  .search__title {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 32px;
  }
}
