.form-places {
  min-height: 408px;
}

.form-places__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-places__lable {
  font-family: "ptsansbold";
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.form-places__list-item {
  margin-bottom: 35px;
}

.review-form__places {
   margin-bottom: 6px;
}

.review-form__places .review-form__legend {
   margin-bottom: 31px;
}

.review-form__places .form-places__list-item {
  display: flex;
  margin-bottom: 54px;
}

.review-form__places label {
  position: relative;
  margin-left: 79px;
}

.review-form__places label::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -79px;

  width: 56px;
  height: 56px;

  background-color: #f2f2f2;
  border-radius: 10%;
}

.checkbox:hover + label::before {
  background-color: #e5e5e5;
}

.checkbox:active + label::before {
  background-color: #d5d5d5;
}

.checkbox:checked + label::after {
  content: url("../img/icon-tick.svg");
  position: absolute;
  top: 3px;
  left: -62px;

  width: 24px;
  height: 16px;
}

.checkbox:active + label::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .form-places {
    min-height: 300px;
  }

  .form-places__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 0 auto;
  }

  .form-places__list-item:nth-child(odd) {
    margin-right: 70px;
  }
}