.feedback {
  background-color: #ffffff;
}

.form-impression {
  min-height: 288px;
}

.form-impression__list {
  list-style: none;
  min-height: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-impression__lable {
  font-family: "ptsansbold";
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.feedback__form {
  position: relative;

  width: 320px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.feedback__section {
  position: relative;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-right: 20px;
  

  border: none;

  &::before {
    content: "";
    position: absolute;
    top: -19px;
    left: 0;

    width: 320px;
    height: 1px;

    background-color: #cccccc;
  }
}

.review-form__legend {
  display: block;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  text-transform: uppercase;
}

.feedback__section input {
  padding-top: 19px;
  padding-right: 22px;
  padding-bottom: 19px;
  padding-left: 22px;

  font-weight: bold;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.feedback__section input:hover {
  background-color: #e5e5e5;
}

.feedback__section input:focus {
  background-color: #ffffff;
  box-shadow: solid 4px #e5e5e5;
}

.feedback__section input::placeholder {
  font-weight: bold;
  color: #000000;
}

.review-form__impression {
  margin-bottom: 19px;
}

.review-form__impression .review-form__legend {
  margin-bottom: 37px;
}

.review-form__impression .form-impression__list-item {
  display: flex;
  margin-bottom: 43px;
}

.review-form__impression label {
  position: relative;
  margin-left: 79px;
}

.review-form__impression label::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -79px;

  width: 56px;
  height: 56px;

  background-color: #f2f2f2;
  border-radius: 50%;
}

.radio:hover + label::before {
  background-color: #e5e5e5;
}

.radio:active + label::before {
  background-color: #d5d5d5;
}

.radio:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -62px;

  width: 22px;
  height: 22px;

  background-color: #333333;
  border-radius: 50%;
}

.radio:active + label::after {
  opacity: 0.3;
}

