.gallery__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color: #333333;

  margin-bottom: 48px;
  margin-top: 15px;
  padding: 0 24px;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__item {
  position: relative;
  margin-bottom: 40px;

  padding: 0 20px;
}

.gallery__item-sunset::before {
  content: "";

  position: absolute;
  top: -20px;
  left: 0;
  right: 0;

  width: auto;
  height: 0px;

  background-color: rgba(0, 0, 0, 0.1);
}

.gallery__item::after {
  content: "";

  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;

  width: auto;
  height: 0px;

  background-color: rgba(0, 0, 0, 0.1);
}

.gallery__item-title {
  font-family: "ptsansbold";
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-top: 9px;
}

.gallery__item-title--openspaces {
  font-family: "ptsansbold";
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-top: 11px;
}

.gallery__item-author {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  color: #333333;
}

.photo__item-likes {
  background-color: transparent;
  border: none;

  margin-right: 10px;
  margin-top: 5px;
  padding: 0;
}

.photo__item-icon {
  color: #ffffff;

  opacity: 0.3;
}

.gallery__item-number {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .gallery__title {
    padding: 0 170px;
    margin-bottom: 68px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .gallery__item {
    background-color: #f2f2f2;
    margin-bottom: 0;
    padding: 0;
  }

  .gallery__item-sunset:first-child {
    width: 100%;
  }

  .gallery__item:nth-child(n+2) {
    width: 50%;
  }

  .gallery__item-pic {
    display: block;
    width: auto;
    height: 267px;

    &--first-photo {
      height: 400px;
    }
  }

  .gallery__wrapper-text__counts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 20px;
  }

  .gallery__wrapper-text {
    max-width: 210px;
  }

  .gallery__wrapper-text h3,
  .gallery__wrapper-text p {
    margin: 0;
  }

  .gallery__wrapper-text h3 {
    font-family: "ptsansbold";
    letter-spacing: 0.1px;
  }

  .gallery__item::before,
  .gallery__item::after {
    display: none;
  }
  
  .photo__item-likes {
    position: absolute;
    right: 61px;
    bottom: 27px;

    margin: 0;
  }

  .gallery__item-number {
    position: absolute;
    right: 22px;
    bottom: 27px;
  }

  .gallery__item:nth-child(2) .gallery__item-number,
  .gallery__item:nth-child(4) .gallery__item-number {
    right: 29px;
  }

  .gallery__item:nth-child(3) .gallery__item-number {
    right: 37px;
  }

  .gallery__wrapper-text__counts--like {
    padding: 16px 29px;
    padding-left: 20px;
  }

  .gallery__wrapper-text__counts--road {
    padding: 16px 39px;
    padding-left: 20px;
  }

  .gallery__item--grey {
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .gallery__title {
    padding: 0 380px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 70px;
  }

  .gallery__list {
    padding: 0 0;
  }

  .gallery__item:nth-child(n+2) {
    width: 33.33%;
  }

  .gallery__wrapper-text__counts {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);

    padding: 16px 20px;

    .gallery__item-author {
      color: #ffffff;
    }
  }

  .photo__item-icon {
    fill: #ffffff;

    opacity: 1;
  }

  .gallery__item-number{
    color: #ffffff;
    right: 22px;
    bottom: 27px;
  }

  .gallery__wrapper-text__counts--like {
    padding: 16px 29px;
    padding-left: 20px;
  }

  .gallery__wrapper-text__counts--road {
    padding: 16px 39px;
    padding-left: 20px;
  }

  .photo__item-likes {
    position: absolute;
    right: 61px;
    bottom: 26px;
    margin: 0;
  }
}
