.page-main {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  width: 320px;

  text-transform: uppercase;
}

.page-main__title {
  margin-top: 43px;

  padding: 0 25px;

  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.page-main__wrapper-welcome {
  position: relative;
  margin-top: 56px;
  order: -1;
}

.page-main__sedona-text {
  position: absolute;
  bottom: 85px;
  left: 20px;
}

.page-main__sedona-text--inner-page {
  left: 46px;
}

.page-main__wrapper-welcome::after {
  content: "";

  position: absolute;
  bottom: 3px;
  left: 0;

  width: 320px;
  height: 26px;

  background: url("../img/bg-intro-triangle-mobile.svg") 0 0 no-repeat;
}