.reviews__title {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

@media (min-width: @tablet-width) {
	.reviews__title {
		padding: 0 165px;
	}
}

@media (min-width: @desktop-width) {
	.reviews__title {
		padding: 0 380px;
		margin-bottom: 69px;
	}
}