.social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;

  margin: 0;
  margin-top: 38px;
}

.social__list--inner-page {
  padding-left: 4px;
}

.social__item {
  position: relative;
  display: flex;
  width: 46px;
  height: 48px;
  font-size: 0;

  background-color: #81b3d2;

  margin-right: 6px;
}

.social__icon {
  fill: #ffffff;
}

.social__link--twitter {
  padding-left: 15px;
  padding-top: 18px;
  padding-right: 15px;
}

.social__link--facebook {
  padding-left: 18px;
  padding-top: 15px;
  padding-right: 17px;
}

.social__link--youtube {
  padding-left: 13px;
  padding-top: 17px;
  padding-right: 13px;
}

.social__item:hover {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
}

.social__item a:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin-top: 0;
    padding-right: 4px;
  }

  .social__list--inner-page {
    padding-right: 8px;
  }

  .social__item:hover {
    background-color: #669ec0;
  }

  .social__link:active {
    background-color: #5496bd;
  }

  .social__item a:active {
    opacity: 0.3;
  }

  .social__list--page-form {
    margin-top: 3px;
  }
}

@media (min-width: @desktop-width) {
  .social__list-form {
    padding-right: 25px;
  }

  .social__list {
    padding-right: 33px;
  }

  .social__link:hover {
    background-color: #669ec0;
  }

  .social__item:hover {
    background-color: #669ec0;
  }

  .social__link:active {
    background-color: #5496bd;
  }

  .social__item a:active {
    opacity: 0.3;
  }
}

