@import "blocks/page-header.less";
@import "blocks/page-footer.less";
@import "blocks/page-main.less";
@import "blocks/main-nav.less";
@import "blocks/button.less";
@import "blocks/visially-hidden.less";
@import "blocks/reasons.less";
@import "blocks/copyright.less";
@import "blocks/social.less";
@import "variable.less";
@import "mixin.less";
@import "blocks/reviews.less";
@import "blocks/gallery.less";
@import "blocks/review-form.less";
@import "blocks/form-name.less";
@import "blocks/form-contacts.less";
@import "blocks/form-impression.less";
@import "blocks/form-places.less";
@import "blocks/form-emotions.less";
@import "blocks/video-presentation.less";
@import "blocks/find-hotel.less";
@import "blocks/fonts.less"; 


body {
  margin: 0;
  padding: 0;
  font-family: "ptsans";
  min-width: 320px;
}

img {
  max-width: 100%;
}